{% extends 'admin/model/list.html' %}

{% macro render_date(model, column) %}
    {{ model.datetime|string|truncate(16, true, "") }}
{% endmacro %}

{% macro render_content(model, column) %}
    <strong>{{ model.content }}</strong>
{% endmacro %}

{% macro render_responses(model, column) %}
    {% for response in model.responses %}
        <div class="response">
            {{ response.datetime|string|truncate(16, true, "") }}
            {% if response.user %}
                <span class="pull-right label label-success"><i class="icon-user icon-white"></i>
                {{ response.user.email }}
                </span>
            {% else %}
                <span class="pull-right label">
                auto
                </span>
            {% endif %}
            <br><em>{{ response.content }}</em>
        </div>
    {% endfor %}
    <a class="btn-new-response btn btn-small pull-right" href="#response-modal" data-toggle="modal" data-query-id="{{ model.query_id }}">
        <i class="icon-plus"></i> new response
    </a>
{% endmacro %}

{% block body %}
    {{ super() }}

    <!-- Modal for sending responses -->
    <div id="response-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="response-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="response-modal-label">SMS response</h3>
        </div>
        <div class="modal-body">
            <form id="response-form" action="/response/" method="post">
                <fieldset>
                    <label class="pull-left">Message (max length 140 chars)</label>
                    <textarea name="content" rows="5" class="input-xlarge" maxlength="140"></textarea>
                    <input id="query_id" name="query_id" type="hidden" value="0"/>

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="btn-send-response" class="btn btn-primary">Send</button>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            $(".btn-new-response").on('click', function(event){
                var query_id = event.currentTarget.attributes['data-query-id'].value
                $("#query_id").val(query_id)
            });

            $("#btn-send-response").on('click', function(event){
                $("#response-form").submit()
            });
        })
    </script>
{% endblock %}