{% extends 'admin/model/list.html' %}

{% macro render_date(model, column) %}
    {{ model.datetime|string|truncate(16, true, "") }}
{% endmacro %}

{% macro render_content(model, column) %}
    <div class="rounded-box msg-content">{{ model.content }}</div>
{% endmacro %}

{% macro render_star(model, column) %}
    <div class="star-container">
        <form class="icon" method="POST" action="/toggle_star/">
            {% if csrf_token %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% endif %}
            <input type="hidden" name="query_id" value="{{ model.query_id }}"/>
            <button onclick="submit">
                {% if model.starred %}
                    <i class="icon-star"></i>
                {% else %}
                    <i class="icon-star-empty"></i>
                {% endif %}
            </button>
        </form>
    </div>
{% endmacro %}

{% macro render_status(model, column) %}
    <div class="status-container">
        <form class="icon" method="POST" action="/update_status/">
            {% if csrf_token %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% endif %}
            <input type="hidden" name="query_id" value="{{ model.query_id }}"/>
            <select class="status-select input-medium" name="status">
                <option value="pending" {% if model.status == "pending" %}selected="true"{% endif %}>
                    pending
                </option>
                <option value="in_progress" {% if model.status == "in_progress" %}selected="true"{% endif %}>
                    in progress
                </option>
                <option value="finished" {% if model.status == "finished" %}selected="true"{% endif %}>
                    finished
                </option>
            </select>
        </form>
    </div>
{% endmacro %}

{% macro render_notes(model, column) %}
    {% for note in model.notes %}
        <div class="invisible-box">
            <small>{{ note.datetime|string|truncate(10, true, "") }}</small>
            {% if note.user %}
                <span class="pull-right label label-success"><i class="icon-user icon-white"></i>
                {{ note.user.email }}
                </span>
            {% else %}
                <span class="pull-right label">
                auto
                </span>
            {% endif %}
            <br>{{ note.content }}
        </div>
    {% endfor %}
    <a class="btn-new-note btn btn-small pull-right" href="#note-modal" data-toggle="modal" data-query-id="{{ model.query_id }}">
        <nobr><i class="icon-plus"></i> new note</nobr>
    </a>
{% endmacro %}

{% macro render_responses(model, column) %}
    {% for response in model.responses %}
        <div class="rounded-box">
            <small><nobr>{{ response.datetime|string|truncate(16, true, "") }}</nobr></small>
            {% if response.user %}
                <span class="pull-right label label-success"><i class="icon-user icon-white"></i>
                {{ response.user.email }}
                </span>
            {% else %}
                <span class="pull-right label">
                auto
                </span>
            {% endif %}
            <br><span class="msg-content">{{ response.content }}</span>
        </div>
    {% endfor %}
    <a class="btn-new-response btn btn-small pull-right" href="#response-modal" data-toggle="modal" data-query-id="{{ model.query_id }}">
        <nobr><i class="icon-plus"></i> new response</nobr>
    </a>
{% endmacro %}

{% block body %}

    {% block model_menu_bar %}
        {{ super() }}
    {% endblock %}

    {% if filter_groups %}
        {{ model_layout.filter_form() }}
        <div class="clearfix"></div>
    {% endif %}

    {% block model_list_table %}
        <table class="table table-bordered model-list">
            <thead>
            <tr>
                {% block list_header scoped %}
                    {% if actions %}
                        <th class="span1">
                            <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ _gettext('Select all records') }}" />
                        </th>
                    {% endif %}
                    {% block list_row_actions_header %}
                    {% endblock %}
                    {% set column = 0 %}
                    {% if not sort_column %}
                        {% set sort_column = 1 %}
                        {% set sort_desc = True %}
                    {% endif %}
                    {% for c, name in list_columns %}
                        <th class="column-header">
                            {% if admin_view.is_sortable(c) %}
                                {% if sort_column == column %}
                                    <a href="{{ sort_url(column, True) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">
                                        {{ name }}
                                        {% if sort_desc %}
                                            <i class="icon-chevron-up"></i>
                                        {% else %}
                                            <i class="icon-chevron-down"></i>
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a href="{{ sort_url(column) }}" title="{{ _gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                                {% endif %}
                            {% else %}
                                {{ name }}
                            {% endif %}
                            {% if admin_view.column_descriptions.get(c) %}
                                <a class="icon-question-sign"
                                   title="{{ admin_view.column_descriptions[c] }}"
                                   href="javascript:void(0)" data-role="tooltip"
                                        ></a>
                            {% endif %}
                        </th>
                        {% set column = column + 1 %}
                    {% endfor %}
                {% endblock %}
            </tr>
            </thead>
            {% for row in data %}
                <tr data-starred="{{ row.starred }}" data-status="{{ row.status }}">
                    {% block list_row scoped %}
                        {% if actions %}
                            <td>
                                <input type="checkbox" name="rowid" class="action-checkbox" value="{{ get_pk_value(row) }}" title="{{ _gettext('Select record') }}" />
                            </td>
                        {% endif %}

                        {% block list_row_actions scoped %}

                        {% endblock %}

                        {% for c, name in list_columns %}
                            <td>{{ get_value(row, c) }}</td>
                        {% endfor %}
                    {% endblock %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="999">
                        {% block empty_list_message %}
                            <div class="text-center">
                                {{ admin_view.get_empty_list_message() }}
                            </div>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {{ lib.pager(page, num_pages, pager_url) }}
    {% endblock %}

    {{ actionlib.form(actions, url_for('.action_view')) }}

    <!-- Modal for adding notes -->
    <div id="note-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="response-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="response-modal-label">Save a note</h3>
        </div>
        <div class="modal-body">
            <form id="note-form" action="/note/" method="post">
                <fieldset>
                    <label class="pull-left">Note</label><br>
                    <textarea name="content" rows="5" class="input-xlarge" maxlength="230"></textarea>
                    <input id="new-note-query-id" name="query_id" type="hidden" value="0"/>

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="btn-send-note" class="btn btn-primary">Send</button>
        </div>
    </div>

    <!-- Modal for sending responses -->
    <div id="response-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="response-modal-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="response-modal-label">SMS response</h3>
        </div>
        <div class="modal-body">
            <form id="response-form" action="/response/" method="post">
                <fieldset>
                    <label class="pull-left">Message (max length 140 chars)</label><br>
                    <textarea name="content" rows="5" class="input-xlarge" maxlength="140"></textarea>
                    <input id="new-response-query-id" name="query_id" type="hidden" value="0"/>

                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button id="btn-send-response" class="btn btn-primary">Send</button>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function(){
            $(".btn-new-note").on('click', function(event){
                var query_id = event.currentTarget.attributes['data-query-id'].value
                $("#new-note-query-id").val(query_id)
            });

            $("#btn-send-note").on('click', function(event){
                $("#note-form").submit()
            });

            $(".btn-new-response").on('click', function(event){
                var query_id = event.currentTarget.attributes['data-query-id'].value
                $("#new-response-query-id").val(query_id)
            });

            $("#btn-send-response").on('click', function(event){
                $("#response-form").submit()
            });

            $(".status-select").on('change', function(event){
                $(this).parent('form').submit()
            });
        })
    </script>
{% endblock %}