#footer{
    height: 100px;
}

.tiny-logo{
    float: right;
    margin-left: 25px;
    margin-right: 25px;
}

#logo-odac{
    margin-top: 5px;
}

#copyright{
    padding-top: 10px;
}

.response{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #cccccc;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-top: -1px;
}

.btn-new-response{
    margin-top: 5px;
}

#response-form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.star-container{
    text-align: center;
}