{% extends 'admin/master.html' %}
{% block body %}
    {{ super() }}
    <div class="row-fluid">

        <div>
            <h1>ODAC Ford Housing - Admin</h1>
            <p class="lead">
                View and reply to housing-related queries.
            </p>
            <ul>
                <li>The housing allocation process is explained at <strong>*120*8864*1280#</strong></li>
                <li>At that same number, community members can subscribe to SMS notifications on the status of housing projects in their area.</li>
                <li>If users have any queries, they can send an SMS to <strong>083 9300 2801 0243</strong></li>
                <li>This website is used by ODAC and the relevant local officials, for sending timely SMS notifications, and responding to queries.</li>
            </ul>

            {% if not current_user.is_authenticated() %}
                <hr>
                <form method="POST" action="">
                    {{ form.hidden_tag() if form.hidden_tag }}
                    {% for f in form if f.type != 'CSRFTokenField' %}
                        <div>
                            {{ f.label }}
                            {{ f }}
                            {% if f.errors %}
                                <ul>
                                    {% for e in f.errors %}
                                        <li>{{ e }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn" type="submit">Submit</button>
                </form>
                {{ link | safe }}
            {% endif %}
        </div>

    </div>
{% endblock body %}